<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-8 text-center">
            <p class="display-4"><a href="index.php" class="text-dark" style="text-decoration: none;">Yönetim Paneli</a></p>
            <p class="h4">{{ app.user.fullname }}</p>
            <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="fas fa-power-off"></i></a>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-2 d-grid gap-2 mb-3">
            <a href="design.php" class="btn btn-dark">Genel Ayarlar <i class="fas fa-cog"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-3">
            <a href="{{ path('hizmet_home') }}" class="btn btn-dark">Hizmetler <i class="fas fa-bars"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-3">
            <a href="{{ path('bolgeler_home') }}" class="btn btn-dark">Semt <i class="fas fa-city"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-3">
            <a href="{{ path('mahalle_home') }}" class="btn btn-dark">Mahalle <i class="fas fa-city"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-3">
            <a href="{{ path('content_home') }}" class="btn btn-dark">İçerik <i class="fas fa-qrcode"></i></a>
        </div>
    </div>
</div>