{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller(
        'App\\Controller\\HomeController:header'
    )) }}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-12 p-b-zero">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for banner in banners %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %} aria-current="true" aria-label="Slide {{ loop.index0 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">

                    {% for banner in banners %}
                        <div{% if loop.index0 == 0 %} class="carousel-item active"{% else %} class="carousel-item"{% endif %}>
                            <img src="{{ banner.photo }}" class="d-block w-100 carousel-img" alt="...">
                            <div class="carousel-caption d-none d-md-block carousel-text-bg">
                                <h5 class="carousel-text">{{ banner.title }}</h5>
                                <p class="carousel-text">{{ banner.description }}</p>
                                {% if banner.path != "yok" %}
                                    <a href="{{ banner.path }}" class="btn btn-purple mb-3">İçeriğe Git <i class="fas fa-arrow-right"></i></a>
                                {% endif %}
                                <div class="d-grid gap-2">
                                    <a href="" class="btn btn-success mb-3">Hemen Tıkla Ara <i class="fas fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Geri</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">İleri</span>
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="container my-5">
        <div class="row my-5">
            {% for item in generals %}
            <div class="col-md-4 my-5 text-center">
                <i class="{{ item.icon }} features-i"></i>
                <p class="features-t">{{ item.title }}</p>
                <p class="features-c">
                    {{ item.description }}
                </p>
                <a href="{{ item.path }}" target="_blank" class="btn btn-purple"><i class="fas fa-align-left"></i> {{ item.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-10">
        <div class="row my-5">
            <div class="col-md-12 text-center border-bottom">
                <p class="display-6 purple">
                    <i class="fas fa-align-left"></i> Hizmetlerimiz
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center my-5">
            {% for hizmet in hizmetler %}
                <div class="col-md-3 my-5 text-center services pb-4">
                    <p><i class="fas fa-tint purple"></i> {{ hizmet.isim }}</p>
                    <hr class="mb-2" style="width: 20%;margin: auto;">
                    <a href="" class="services-link">Hizmete Git <i class="fas fa-chevron-right"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-10">
        <div class="row my-5">
            <div class="col-md-12 text-center border-bottom">
                <p class="display-6 purple">
                    <i class="fas fa-align-left"></i> Önemli Bilgiler
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <img src="https://via.placeholder.com/400x250" class="content-i img-fluid" alt="">
                <p class="content-t mt-3">
                    Başlık
                </p>
                <p class="content-c">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut blanditiis deserunt enim, et explicabo in magni natus neque nesciunt nobis odio officiis omnis pariatur repellat sequi tempore totam unde.
                </p>
                <div class="d-grid gap-2">
                    <a href="" class="btn btn-purple">Devamını Oku <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <img src="https://via.placeholder.com/400x250" class="content-i img-fluid" alt="">
                <p class="content-t mt-3">
                    Başlık
                </p>
                <p class="content-c">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut blanditiis deserunt enim, et explicabo in magni natus neque nesciunt nobis odio officiis omnis pariatur repellat sequi tempore totam unde.
                </p>
                <div class="d-grid gap-2">
                    <a href="" class="btn btn-purple">Devamını Oku <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/400x250" class="content-i img-fluid" alt="">
                <p class="content-t mt-3">
                    Başlık
                </p>
                <p class="content-c">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut blanditiis deserunt enim, et explicabo in magni natus neque nesciunt nobis odio officiis omnis pariatur repellat sequi tempore totam unde.
                </p>
                <div class="d-grid gap-2">
                    <a href="" class="btn btn-purple">Devamını Oku <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

{% include 'home/inc/footer.html.twig' %}

{% endblock %}
