{% extends 'base.html.twig' %}

{% block title %}{{ hizmet.isim }}{% endblock %}
{% block description %}{{ hizmet.description }}{% endblock %}
{% block keywords %}{{ hizmet.keyword }}{% endblock %}

{% block body %}
    {{ render(controller(
        'App\\Controller\\HomeController:header'
    )) }}

    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center mb-5">
                <p class="display-4 text-center my-5 border-bottom">
                    {{ hizmet.isim }}
                </p>
                <img src="/{{ hizmet.photo }}" class="img-fluid hizmet-img tksl-shadow tksl-radius"  alt="">
            </div>
            <div class="col-md-12 my-5">
                {{ hizmet.text | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="display-5 text-center border-bottom ">
                    Hizmete Bağlı İçerikler
                </p>
                <br>
                <div class="owl-carousel owl-theme mt-3">
                    {% for content in contentToHizmet %}
                        <div class="item mx-3">
                            <img src="/{{ content.photo }}" class="content-i img-fluid" alt="">
                            <p class="content-t mt-3">
                                {{ content.isim }}
                            </p>
                            <p class="content-c">
                                {{ content.icerik|length > 320 ? content.icerik|slice(0,320)|raw : content.icerik|raw }}
                            </p>
                            <div class="d-grid gap-2">
                                <a href="{{ path('content_page', {slug:content.slug}) }}" class="btn btn-purple">Devamını Oku <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center my-5">
            <div class="col-md-5 text-center">
                <p class="h3">İletişim</p>
                <hr>
                <div class="d-grid gap-2 my-3">
                    {% for item in numberSoloList %}
                        <a href="tel:+90{{ item.number }}" class="btn btn-purple">{{ item.butonName }} <i class="fas fa-phone"></i></a>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 my-3">
                    <a href="" class="btn btn-success">Whatsapp İletişim <i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'home/inc/footer.html.twig' %}
{% endblock %}
