<nav class="navbar navbar-expand-lg navbar-light bg-light tksl-shadow">
    <div class="container-fluid">
        <div class="col-md-2 px-lg-3 mx-auto">
            <a class="navbar-brand brand-title text-uppercase" href="/">Su Tesisatçısı</a>
            <button class="navbar-toggler text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-md-7">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link menu" href="/">&nbsp;<i class="fas fa-home"></i>&nbsp;</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hizmetlerimiz
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for hizmet in hizmetlerHeader %}
                                <li><a class="dropdown-item" href="{{ path('hizmet_page', {slug:hizmet.slug}) }}">{{ hizmet.isim }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="{{ path('sss_page') }}">S.S.S <i class="fas fa-question"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-city"></i> Bölgelerimiz
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for bolge in bolgelerHeader %}
                                <li><a class="dropdown-item" href="{{ path('bolgeler_page', {slug:bolge.slug}) }}">{{ bolge.isim }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Biz Kimiz
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for item in about %}
                                <li><a class="dropdown-item" href="/about/{{ item.slug }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="#">İletişim <i class="far fa-id-card"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 mx-3 align-self-center align-items-center mx-auto">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Hizmet Ara" aria-label="Search">
                <button class="btn btn-purple" type="submit">Ara</button>
            </form>
        </div>
    </div>
</nav>